body {
    background-image: linear-gradient(#0704cf,#07bff78f,#0704cf);
    color:#021111;
    font-family: sans-serif;
}


header {
    color: #ffd000;
    text-align: center;
    font-size: 60px;
    font-family: "Great Vibes", serif;
}


p{
    font-size: 25px;
}


h1 {
    font-size: 40px;
}


h2 {
    padding-top: 50px;
    color: #fcfafa;
    text-align: center;
    font-size: 50px;
    font-family: "Brush Script MT";
}
 
.chamada {
    color:#fcfcfcec;
    background-image: linear-gradient(#0704cf, #07bff78f) ;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex; /* torna flexivel = põe um do lado do outro */
    justify-content: center; /* centralizar */  
    font-family: "Impact" ;
}


.chamada-texto {
    margin-right: 5%;
}


img{
    height: 200px;
}


.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 100px;
    background-image: linear-gradient(#07bff78f, #0704cf) ;
}


.categoria-videos{
    display: flex;
    overflow-x: auto; /* permite rolagem horizontal automática quando o  conteúdo exceder a largura da tela */
    gap: 10px; /* adiciona espaçamento entre os elementos*/
    padding-bottom: 10px;
}


.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid blueviolet;
}
